a{
  text-decoration:none;
}


body{
  font-family: sans-seriff;
  text-align: center;

}

.open{
  background:#FCC;
  margin:20px;
}

.highlight{
  background:#FAA;
}

iframe{
  border-style:double;

}
