a{
  text-decoration:none;
}

#resume{
  margin: 100px 100px;
  height:
}

body{
  font-family:'Lobster', sans-seriff;
  text-align: center;
}

.open{
  background:#FCC;
  margin:20px;
}

.highlight{
  background:#FAA;
}

iframe{
  border-style:double;
}
